DBMS INNOVATIVE PROJECT
ROLL NO.:21BCE237
NAME:PRISHA SHAH
TOPIC: AIRLINE MANAGEMENT SYSTEM

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)

print(mydb.connection_id)


if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

In [1]:

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)

print(mydb.connection_id)

if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()
#CREATING TABLE
"""
#mycursor.execute("CREATE TABLE Passenger (PId varchar(10) PRIMARY KEY, PFirstName varchar(10) NOT NULL, PMiddleName varchar(10), PLastName varchar(10), DOB date, PhNo varchar(10) NOT NULL, Age int, Address varchar(10))")
#mycursor.execute("CREATE TABLE Flight (FlightNo varchar(10) PRIMARY KEY, Airline_Name varchar(30) NOT NULL, Dep_time time, Arr_time time, Source varchar(20), Destination varchar(20), Seat_avail int )")
mycursor.execute("CREATE TABLE Airline(AirlineId varchar(20) PRIMARY KEY,Airline_Name varchar(30), Airline_Country varchar(30), Airline_Headquarters varchar(30))")
#mycursor.execute("CREATE TABLE Ticket(PNR_No varchar(30) PRIMARY KEY, FlightNo varchar(10) REFERENCES Flight(FlightNo), JourneyDate date, PId varchar(10) REFERENCES Passenger(PId), SeatNo varchar(5), Source varchar(20), Destination varchar(20), Class varchar(10) )")
mycursor.execute("CREATE TABLE Payment(Payment_id varchar(10) primary key, PNR_No varchar(20),Payment_Date date, Amount int)")
#mycursor.execute("CREATE TABLE Class(Flight_no varchar(10) primary key, Class_Type varchar(10))")
"""
#INSERTING ENTRIES FOR THE TABLE

def insert():
    table_name = input("Enter the name of the table to insert data into: ")

    # Execute a SELECT statement to retrieve the table description
    mycursor.execute("SELECT * FROM {}".format(table_name))

    # Get the column names from the description
    column_names = [desc[0] for desc in mycursor.description]

    num_cols = len(column_names)

    num_rows = int(input("Enter the number of rows to insert: "))

    # Define an INSERT statement for the selected table
    insert_stmt = "INSERT INTO {} ({}) VALUES ({})".format(
        table_name,
        ", ".join(column_names),
        ", ".join(["%s"] * num_cols)
    )

    # Get user input for the data to insert
    rows_data = []
    for i in range(num_rows):
        print("Enter data for row {}:".format(i+1))
        row_data = []
        for j in range(num_cols):
            data = input("Enter data for column {} ({}): ".format(j+1, column_names[j]))
            row_data.append(data)
        rows_data.append(row_data)

    try:
        # Consume all the results before executing a new query
        while mycursor.nextset():
            pass
        mydb.consume_results()

        # Insert the data into the selected table
        mycursor.executemany(insert_stmt, rows_data)
        mydb.commit()
        print("{} rows inserted into {} table.".format(mycursor.rowcount, table_name))

    except mysql.connector.errors.Error as e:
        print("Error occurred:", e.msg)

#DISPLAY OPERATION
def display():
    table_name = input("Enter the name of the table to search: ")

    # Execute a SELECT statement to retrieve all data from the table
    mycursor.execute("SELECT * FROM {}".format(table_name))

    # Fetch all the data from the table
    rows = mycursor.fetchall()

    # Display the data to the user
    if rows:
        print("Data in table {}:".format(table_name))
        for row in rows:
            print(row)
    else:
        print("Table {} is empty.".format(table_name))

#UPDATE OPERATION
def update():
    # Get user input for table and update value
    table_name = input("Which table do you want to update? ")
    primary_key_name = input("Which column is the primary key? ")
    primary_key_value = input(f"What is the value of the {primary_key_name} for the row you want to update? ")
    column_name = input("Which column do you want to update? ")
    column_value = input(f"What do you want to update the {column_name} column to? ")

    # Construct the SQL query to update the table
    query = f"UPDATE {table_name} SET {column_name} = '{column_value}' WHERE {primary_key_name} = '{primary_key_value}'"

    # Execute the query
    mycursor.execute(query)

#DELETE OPERATION
def delete():
    table_name = input("Which table do you want to delete a row from? ")
    primary_key_name = input("Which column is the primary key? ")
    primary_key_value = input(f"What is the value of the {primary_key_name} for the row you want to delete? ")

    # Construct the SQL query to delete the row
    query = f"DELETE FROM {table_name} WHERE {primary_key_name} = '{primary_key_value}'"


#DROP OPERATION
def drop():
    table_name = input("Which table do you want to drop? ")
    # Construct the SQL query to drop the table
    query = f"DROP TABLE {table_name}"
    # Execute the query
    mycursor.execute(query)
    # Print a message indicating that the table has been dropped
    print(f"The {table_name} table has been dropped")
    
def get_keys():
    table_name = input("Enter the name of the table to get keys for: ")
    mycursor.execute(f"SHOW KEYS FROM {table_name} WHERE Key_name = 'PRIMARY'")
    primary_key = mycursor.fetchone()
    if primary_key:
        print(f"Primary key for {table_name} is {primary_key[4]}")
    else:
        print(f"No primary key found for {table_name}")
    mycursor.execute(f"SELECT CONSTRAINT_NAME, COLUMN_NAME, REFERENCED_TABLE_NAME, REFERENCED_COLUMN_NAME FROM INFORMATION_SCHEMA.KEY_COLUMN_USAGE WHERE TABLE_NAME = '{table_name}' AND REFERENCED_TABLE_NAME IS NOT NULL")
    foreign_keys = mycursor.fetchall()
    if foreign_keys:
        print(f"Foreign keys for {table_name}:")
        for fk in foreign_keys:
            print(f"{fk[0]}: {fk[1]} references {fk[2]}.{fk[3]}")
    else:
        print(f"No foreign keys found for {table_name}")
def show_create_table():
    table_name = input("Enter the name of the table to show CREATE TABLE statement for: ")
    try:
        mycursor.execute(f"SHOW CREATE TABLE {table_name}")
        result = mycursor.fetchone()
        print(result[1])
    except mysql.connector.errors.ProgrammingError as e:
        print(f"Error occurred: {e.msg}")
def menu():
    c = "yes"
    while c.lower() == "yes":
        print("\t\t\t\t\tWELCOME TO AIRLINE MANAGEMENT SYSTEM")
        print("\t\t\t\t\t\t1.SHOW OPERATION")
        print("\t\t\t\t\t\t2.INSERT OPERATION")
        print("\t\t\t\t\t\t3.UPDATE OPERATION")
        print("\t\t\t\t\t\t4.DELETE OPERATION")
        print("\t\t\t\t\t\t5.DROP TABLE")
        print("\t\t\t\t\t\t6.PRIMARY AND FOREIGN KEY")
        print("\t\t\t\t\t\t7.SHOW CREATE TABLE")
        choice = input("Enter your choice:")
        if choice == "1":
            display()
        elif choice == "2":
            insert()
        elif choice == "3":
            update()
        elif choice == "4":
            delete()
        elif choice == "5":
            drop()
        elif choice == "6":
            get_keys()
            
        elif choice== "7":
            show_create_table()
        else:
            print("WRONG CHOICE, PLEASE TRY AGAIN!")
        
        c = input("WOULD YOU LIKE TO CONTINUE? (YES/NO)").lower()
        print(" ")
        
        if c == "no" or c == "NO":
            print("THANK YOU, HOPE TO SEE YOU AGAIN!")
        elif c == "yes" or c=="YES":
            continue
        else:
            print("WRONG INPUT, PLEASE TRY AGAIN!")

menu()
mycursor.close()

mydb.close()

270
					WELCOME TO AIRLINE MANAGEMENT SYSTEM
						1.SHOW OPERATION
						2.INSERT OPERATION
						3.UPDATE OPERATION
						4.DELETE OPERATION
						5.DROP TABLE
						6.PRIMARY AND FOREIGN KEY
						7.SHOW CREATE TABLE
Enter your choice:1
Enter the name of the table to search: Passenger
Data in table Passenger:
('P02022', 'Olivia', 'Garcia', 'Marie', datetime.date(1982, 1, 31), '4563455463', 41, 'Atlanta')
('P15973', 'Emily', 'Johnson', 'Elizabeth', datetime.date(1987, 5, 20), '9088763452', 35, 'Illinois')
('P20330', 'Charlotte', 'Wilson', 'WilsonRose', datetime.date(1988, 12, 2), '4533512908', 34, 'Texas')
('P35103', 'Sophia', 'Thomas', 'Victoria', datetime.date(1983, 4, 14), '1290093453', 40, 'Georgia')
('P49066', 'Jackson', 'Anderson', 'Benjamin', datetime.date(1996, 6, 29), '4509112323', 26, 'Georgia')
('P53269', 'Ava', 'Rodriguez', 'Grace', datetime.date(1985, 9, 7), '9034551234', 37, 'Ohio')
('P64319', 'William', 'Jackson', 'Daniel', datetime.date(1990, 10, 23), '9034223123', 32, 'Ohio')
('P78126', 'Liam', 'Martinez', 'Michael', datetime.date(1992, 3, 18), '4533243543', 29, 'Georgia')
('P81254', 'Noah', 'Davis', 'Alexander', datetime.date(1999, 11, 24), '9045334512', 23, 'Las Vegas')
('P96471', 'Ethan', 'Brown', 'James', datetime.date(1994, 8, 12), '9034121234', 41, 'Georgia')
WOULD YOU LIKE TO CONTINUE? (YES/NO)yes

					WELCOME TO AIRLINE MANAGEMENT SYSTEM
						1.SHOW OPERATION
						2.INSERT OPERATION
						3.UPDATE OPERATION
						4.DELETE OPERATION
						5.DROP TABLE
						6.PRIMARY AND FOREIGN KEY
						7.SHOW CREATE TABLE
Enter your choice:6
Enter the name of the table to get keys for: Flight
Primary key for Flight is FlightNo
No foreign keys found for Flight
WOULD YOU LIKE TO CONTINUE? (YES/NO)no

THANK YOU, HOPE TO SEE YOU AGAIN!

In [ ]:
#Retrieve all flights that depart from a specific source and specific date.
mycursor.execute("SELECT * FROM Ticket WHERE Source = 'Houston' AND JourneyDate = '2023-05-02'")
result = mycursor.fetchall()
for row in result:
  print(row)

In [4]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)

print(mydb.connection_id)

if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

#Retrieve all passengers who have booked a flight with a specific airline.
mycursor.execute("SELECT Passenger.* FROM Passenger INNER JOIN Ticket ON Passenger.PId = Ticket.PId INNER JOIN Flight ON Flight.Flightno = Ticket.Flightno WHERE Flight.Airline_Name = 'United Airlines'")

# fetch all the rows from the query result
result = mycursor.fetchall()

# print the result
for row in result:
  print(row)

233
('P20330', 'Charlotte', 'Wilson', 'WilsonRose', datetime.date(1988, 12, 2), '4533512908', 34, 'Texas')
('P53269', 'Ava', 'Rodriguez', 'Grace', datetime.date(1985, 9, 7), '9034551234', 37, 'Ohio')
('P78126', 'Liam', 'Martinez', 'Michael', datetime.date(1992, 3, 18), '4533243543', 29, 'Georgia')

In [2]:
#Get all the flights from the 'Airline' table that depart from New York and arrive in Los Angeles   

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)

if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Flight WHERE source = 'Miami' AND destination = 'Atlanta'")
result = mycursor.fetchall()

if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

('FL006', 'American Airlines', datetime.timedelta(seconds=43200), datetime.timedelta(seconds=50400), 'Miami', 'Atlanta', 10)

In [4]:
#Get all the passengers who are older than 40 years old
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)

if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Passenger WHERE age > 40")
result=mycursor.fetchall()


if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

('P02022', 'Olivia', 'Garcia', 'Marie', datetime.date(1982, 1, 31), '4563455463', 41, 'Atlanta')
('P96471', 'Ethan', 'Brown', 'James', datetime.date(1994, 8, 12), '9034121234', 41, 'Georgia')

In [6]:
#Get all the tickets that were purchased by a specific passenger, identified by their passenger ID
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)

if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Ticket WHERE PId = 'P15973'")
result=mycursor.fetchall()

if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

('P15973', 'FL002', datetime.date(2023, 5, 1), 'P15973', '05G', 'Los Angeles', 'New York', 'Economy')
('PN5678', 'FL005', datetime.date(2023, 5, 3), 'P15973', '22C', 'Atlanta', 'Miami', 'Business')

In [7]:
#Get the total revenue earned from ticket sales:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)

if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("SELECT SUM(amount) FROM Payment")
result=mycursor.fetchall()

if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

(Decimal('502000'),)

In [11]:
#Get the details of the passenger who booked a specific ticket, identified by its PNR number

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)

if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("SELECT Passenger.* FROM Passenger INNER JOIN Ticket ON Passenger.PId = Ticket.PId WHERE Ticket.PNR_No ='PN1235'")
mycursor.fetchall()

if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

(Decimal('502000'),)

In [6]:
#Get the details of the airline, flight and passenger for a specific ticket, identified by its PNR number:

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)

if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("SELECT Airline.*, Flight.*, Passenger.* FROM Airline INNER JOIN Flight ON Airline.Airline_Name = Flight.Airline_Name INNER JOIN Ticket ON Flight.FlightNo= Ticket.FlightNo INNER JOIN Passenger ON Passenger.PId = Ticket.PId WHERE Ticket.PNR_No ='PN7891'")
mycursor.fetchall()

if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

No flights found matching the query criteria.

In [2]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)
if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE Ticket RENAME COLUMN Flightno TO FlightNo")
result = mycursor.fetchall()

if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

No flights found matching the query criteria.

In [1]:
#Find all passengers on a particular flight

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)
if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("SELECT Passenger.* FROM Passenger INNER JOIN Ticket ON Passenger.PId = Ticket.PId WHERE Ticket.Flightno = 'FL004'")
result = mycursor.fetchall()

if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

('P64319', 'William', 'Jackson', 'Daniel', datetime.date(1990, 10, 23), '9034223123', 32, 'Ohio')

In [ ]:
#Find all flights in a particular class
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)
if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("SELECT FlightNo from Flight INNER JOIN Ticket ON Flight.FlightNo=Ticket.FlightNo WHERE Flight.Class='Economy'")
result = mycursor.fetchall()

if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

In [3]:
#Find the total revenue generated by a particular flight
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)
if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("SELECT SUM(Payment.Amount) FROM Payment INNER JOIN Ticket ON Payment.PNR_No = Ticket.PNR_No WHERE Ticket.FlightNo= 'FL001'")
result = mycursor.fetchall()

if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

(Decimal('128000'),)

In [5]:
#Find the name and phone number of the passenger who made a particular payment

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)
if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("SELECT Passenger.PFirstName, Passenger.PhNo FROM Passenger INNER JOIN Ticket ON Passenger.PId = Ticket.PId INNER JOIN Payment ON Ticket.PNR_No = Payment.PNR_No WHERE Payment.Payment_id = 'PAY008' ")
result = mycursor.fetchall()

if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

No flights found matching the query criteria.

In [6]:
#Find all flights with an arrival in a particular city
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)
if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Flight WHERE Destination= 'Chicago'")
result = mycursor.fetchall()

if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

('FL004', 'Delta', datetime.timedelta(seconds=43200), datetime.timedelta(seconds=54000), 'Houston', 'Chicago', 35)

In [8]:
#Find the total number of passengers on a particular flight
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)
if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("SELECT COUNT(*) FROM Passenger INNER JOIN Ticket ON Passenger.PId = Ticket.PId WHERE Ticket.FlightNo = 'FL004'")
result = mycursor.fetchall()

if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

(1,)

In [3]:
#Find the total revenue generated by a particular airline

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)
if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("SELECT SUM(Payment.Amount) FROM Payment INNER JOIN Ticket ON Payment.PNR_No = Ticket.PNR_No INNER JOIN flight ON Ticket.FlightNo = Flight.FlightNo INNER JOIN airline ON flight.Airline_Name = airline.Airline_Name WHERE Airline.Airline_Name = 'Delta'")
result = mycursor.fetchall()

if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

(Decimal('184000'),)

In [5]:
#Find the name and address of the passenger with a particular PNR number

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)
if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("SELECT Passenger.PFirstName, Passenger.Address FROM Passenger INNER JOIN Ticket ON Passenger.PId = Ticket.PId WHERE Ticket.PNR_No = 'PN5679'")
result = mycursor.fetchall()

if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

('Liam', 'Georgia')

In [6]:
#Find all flights operated by a particular airline

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)
if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Flight WHERE Airline_Name = 'Southwest Airlines'")
result = mycursor.fetchall()

if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

('FL005', 'Southwest Airlines', datetime.timedelta(seconds=28800), datetime.timedelta(seconds=36000), 'Atlanta', 'Miami', 15)
('FL011', 'Southwest Airlines', datetime.timedelta(seconds=25200), datetime.timedelta(seconds=32400), 'Orlando', 'New Orleans', 91)
('Fl014', 'Southwest Airlines', datetime.timedelta(seconds=50400), datetime.timedelta(seconds=57600), 'Phoneix', 'San Diego', 21)

In [7]:
#Find the average age of passengers on a particular flight

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)
if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("SELECT AVG(age) FROM Passenger INNER JOIN Ticket ON Passenger.PId = Ticket.PId WHERE Ticket.FlightNo = 'FL002'")
result = mycursor.fetchall()

if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

(Decimal('36.0000'),)

In [8]:
#Find all payments made by a particular passenger
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)
if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("SELECT Payment.* FROM Payment INNER JOIN Ticket ON Payment.PNR_No = Ticket.PNR_No WHERE Ticket.Pd = 'P15973'")
result = mycursor.fetchall()

if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

('PAY002', 'PN5678', datetime.date(2022, 1, 2), 30000)

In [9]:
#Find the flight with the least seat available
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)
if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("SELECT Flight.* FROM Flight WHERE Seat_avail= (SELECT MIN(Seat_avail) FROM Flight)")
result = mycursor.fetchall()

if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

('FL003', 'United Airlines', datetime.timedelta(seconds=27000), datetime.timedelta(seconds=37800), 'Chicago', 'Houston', 10)
('FL006', 'American Airlines', datetime.timedelta(seconds=43200), datetime.timedelta(seconds=50400), 'Miami', 'Atlanta', 10)
('FL009', 'United Airlines', datetime.timedelta(seconds=21600), datetime.timedelta(seconds=28800), 'Boston', 'Washington', 10)

In [11]:
#Retrieve all tickets that were purchased by a specific passenger.
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="prishashah",
    database="mysql"
)
if mydb.is_connected() == False:
    print("error in connecting to mysql database")
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Ticket WHERE PId = 'P53269'")
result = mycursor.fetchall()

if mycursor.rowcount == 0:
    print("No flights found matching the query criteria.")
else:
    for row in result:
        print(row)

('PN1235', 'FL002', datetime.date(2023, 5, 1), 'P53269', '18A', 'Los Angeles', 'New York', 'Business')
('PN3458', 'FL009', datetime.date(2023, 5, 5), 'P53269', '12C', 'Boston', 'Washington', 'Business')